*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,body {
    padding: 0;
    margin: 0;
    border: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

main{
    min-height: 100vh;
    background-color: rgba(0, 255, 221, 0.274);
    background-image: url("leaf.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 1em;
}

footer{
    margin: 0;
    border: none;
    padding: 0;
}

h1{
    text-align: center;
    color: black;
    letter-spacing: 2px;
    text-shadow: 3px 2px firebrick;
}

p{
    font-size: medium;
}

.gameboard{
    height: 70vh;
    width: 70vh;
    margin: auto;
    border: none;
    padding: 0px;
    font-size: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("ladybug-background.png");
}

.field{
    min-height: 33%;
    min-width: 33%;
    margin: 0px;
    /* border: 1px solid red; */
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.xmid{
    width: auto;
}

.ymid{
    height: auto;
}

.cross{
    background-image: url("cross.png");
}

.circle{
    background-image: url("circle.png");
}

.options{
    margin: auto;
    border: none;
    padding: 0px;
    width: 70vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}

.replay{
    display: inline-flex;
    width: 150;
    height: 30;
    margin: auto;
    padding: none;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    position: relative;
    z-index: 1;
    align-self: center;
}

#replayText{
    margin: auto;
    border: none;
    padding: none;
    text-transform: uppercase;
    position: relative;
    align-self: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.botCheckbox{
    display: inline-block;
    margin: auto;
    width: 15px;
    height: 15px;
}

.gameEnd{
    background-color: rgba(49, 49, 49, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

#gameEndText{
    margin: auto;
    border: none;
    padding: none;
    color: red;
    font-size: 3em;
    position: relative;
}

@media (max-width: 100vh){
    .gameboard{
        width: 70vw;
        height: 70vw;
    }
    .options{
        width: 70vw;
    }
}

@media (max-height: 550px),(max-width: 500px){
    .replay{
        width: 100px;
        height: 20px;
    }

    #replayText{
        font-size: x-small;
    }

    .botCheckbox{
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 500px){
    #gameEndText{
        font-size: medium;
    }
}