*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

html,
body {
    padding: 0;
    margin: 0;
    border: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

main{
    min-height: 900px;
    background-color: rgba(0, 255, 221, 0.274);
    background-image: url("Wallpapers/eiffel-tower-night.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 1em;
}

footer{
    margin: 0;
    border: none;
    padding: 0;
    min-height: 100px;
    background-color: orangered;
}

h1{
    font-size: 3em;
    color: orangered;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 3px 2px black;
    padding: 0;
    margin: 0;

}

a{
    text-decoration: none;
    color: initial;
}

.field{
    display: inline-block;
    border: 1px inset rgba(255, 68, 0, 0.5);
    min-width: 150px;
    width: 20%;
    min-height: 150px;
    margin: 20px;
    padding: 5px;
    background-color: rgba(255, 235, 205, 0.7);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.linkText{
    margin: auto;
    border: none;
    padding: none;
    color: black;
    text-shadow: 1px 1px yellow;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 3px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.flex-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: inherit;
}

.backgroundOption{
    flex: 1;
    margin: 0;
    padding: 0;
    border: none;
    min-width: 200px;
    max-width: 500px;
    min-height: 100px;
    max-height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 1000px){
    .linkText{
        font-size: 1em
    }
}