*{
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body {
    padding: 0;
    margin: 0;
    border: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

main{
    min-height: 100vh;
    background-color: #363835;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* padding: 1em; */
}

footer{
    margin: 0;
    border: none;
    padding: 0;
}

.gameboard{
    display: inline-block;
    position: relative;
    max-height: 45vh;
    /* padding: 3vh 3vh; */
    left: 50%;
    transform: translateX(-50%);
}

.board{
    max-height: 45vh;
    max-width: 100vw;
    border: none;
    padding: 0;
    font-size: 0px;
    background-color: #363835;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.policy-cards{
    display: flex;
    position: absolute;

    border: none;
    padding: 0px;
    font-size: 0px;

    justify-content: space-around;
    align-items: center;

    /* background-color: beige; */
}

.policy-cards.liberal{
    /* height: calc((100% - 6vh)*(64.198/122.397));
    width: calc((100% - 6vh)*(270.769/374.577));
    top: calc((100% - 6vh)*(29.232/122.397) + 3vh);
    left: calc((100% - 6vh)*(51.685/374.577) + 3vh); */
    height: calc(100%*(64.198/122.397));
    width: calc(100%*(270.769/374.577));
    top: calc(100%*(29.232/122.397));
    left: calc(100%*(51.685/374.577));

    flex-direction: row-reverse;
}

.policy-cards.fascist{
    height: 51.5%;
    /* height: 28%; */
    width: 86%;
    top: 25%;
    left: 7.3%;

    flex-direction: row;

    /* background-color: aliceblue; */
}

.policy-card-image{
    visibility: hidden;
    height: 105%;
    width: auto;
}


.button{
    display: block;
    width: 120px;
    height: 20px;

    margin: auto;
}

#ctn-draw-cards{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    justify-content: space-evenly;
    align-items: center;
}

.draw-card{
    display: none;
    visibility: hidden;
    height: auto;
    width: 15vw;
}


.election-tracker-container{
    display: flex;
    position: absolute;
    top: 6%;
    left: 34.4%;
    height: 9.9%;
    width: 32.65%;

    flex-direction: row-reverse;
    justify-content: space-between;
}

.election-tracker{
    visibility: hidden;
    height: 100%;
}





/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a,label {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    white-space: nowrap;
    transition: 0.3s;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top left corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
/* Position and style the open button (top right corner) */
.sidenav-openbtn {
    display: block;
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    margin: 10px;
    top: 0;
    left: 0;
    font-size: 30px;
    text-decoration: none;
    color: grey;
    transition: 0.3s;
}
/* When you mouse over the open button, change its color */
.sidenav-openbtn:hover {
    color: #f1f1f1;
}

/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-number-players{
    font-size: 25px;
    max-width: 35px;
    border-radius: 10px;
    background-color: #363835;
    border: none;

    text-align: center;
    color: #818181;
}